@using PersonalStockSystemTest.Models;
@using PersonalStockSystemTest.EFModel;
@{ List<StonkTable> stonks = ViewBag.stonks; }
@{ ViewBag.Title = "Home Page"; }

<main>
    <section class="filter">
        <table>
            <tr>
                <td class="first"><label for="StockNum">股票代號</label></td>
                <td class="StockN" style="border-top: 1px solid rgb(0, 0, 0)">
                    <select name="StockNum">
                        <option value="">請選擇</option>
                        <option value="1215">1215</option>
                        <option value="1102">1102</option>
                        <option value="1101">1101</option>
                        <option value="1104">1104</option>
                        <option value="1109">1109</option>
                        <option value="1108">1108</option>
                        <option value="1103">1103</option>
                        <option value="1106">1106</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="first"><label for="TradeType">交易種類</label></td>
                <td class="StockN">
                    <select name=" TradeTyppe">
                        <option value="">請選擇</option>
                        <option value="買">買</option>
                        <option value="賣">賣</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="first"><label for="TradeTime">交易時間</label></td>
                <td class="StockN">
                    <input type="date" name="date" /><span style="color: gray">~</span><input type="date" name="date" />
                </td>
            </tr>
        </table>
        <div class="btn"><button class="Search">查詢</button></div>
    </section>
    <section class="StonkData">
        <div class="scroll">
            <table border="1">
                <tr>
                    <th>序號</th>
                    <th>交易時間</th>
                    <th>股票代號</th>
                    <th>股票名稱</th>
                    <th>交易種類</th>
                    <th>股數</th>
                    <th>單價</th>
                    <th>價金</th>
                    <th>手續費</th>
                    <th>交易稅</th>
                    <th>應收付款</th>
                    <th>功能</th>
                </tr>


                @{ foreach (StonkTable stonk in stonks)
                    {
                                <tr class="data">

                                    <td>
                                        <span>@stonk.id</span>
                                    </td>
                                    <td>
                                        <span>@{
                                            DateTime dateTime = (DateTime)stonk.time;
                                            string str = dateTime.ToString("yyyy-MM-dd");
                                            @str
                                            }</span>
                                    </td>
                                    <td>
                                        <span>@stonk.stonkID</span>
                                    </td>
                                    <td>
                                        <span>@stonk.name</span>
                                    </td>
                                    <td>
                                        <span>@stonk.type</span>
                                    </td>

                                    <td>
                                        <span>@stonk.num</span>
                                    </td>
                                    <td>
                                        <span>@stonk.price</span>
                                    </td>
                                    <td>
                                        <span>
                                            @{ var totalPrice = stonk.price * stonk.num; }
                                            @totalPrice
                                        </span>
                                    </td>
                                    <td>
                                        <span>@stonk.tax</span>
                                    </td>
                                    <td>
                                        <span>@stonk.fax</span>
                                    </td>
                                    <td>

                                        @{ double AR = 0;
                                            if (stonk.type == "買")
                                            {
                                                AR = (double)totalPrice * -1;
                                    <span style="color:red">
                                        @AR
                                    </span> }
                                else
                                {
                                    AR = (double)totalPrice;
                                    <span style="color:forestgreen">
                                        @AR
                                    </span> }  }
                                    </td>
                                    <td>
                                        <button class="btn btn-success">編輯</button>
                                        <button class="btn btn-danger">刪除</button>
                                    </td>
                                </tr>
 } }


            </table>
        </div>
    </section>
</main>