
@using PersonalStockSystemTest.EFModel;

@model PersonalStockSystemTest.Models.model_List


@{ List<StonkTable> stonks = ViewBag.stonks; }
@{ ViewBag.Title = "Home Page"; }

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*搜尋*@
<main>
    <section class="filter">
        
        @using (Html.BeginForm("Search", "StonkTables", FormMethod.Post, new { }))  {<table>
        <tr>
            <td class="first"><label for="StockNum">股票代號</label></td>
            <td class="StockN" style="border-top: 1px solid rgb(0, 0, 0)">
                @Html.DropDownListFor(x => x.stID, Model.select, new { @style = "background-color:white" })

            </td>
        </tr>

        @*<tr>
                <td class="first"><label for="TradeType">交易種類</label></td>
                <td class="StockN">
                    <select name=" TradeTyppe">
                        <option value="">請選擇</option>
                        <option value="買">買</option>
                        <option value="賣">賣</option>
                    </select>
                </td>
            </tr>
        <tr>
                <td class="first"><label for="TradeTime">交易時間</label></td>
                <td class="StockN">
                    <input type="date" value="date" name="date" /><span style="color: gray">~</span><input type="date" name="date" />
                </td>
            </tr>*@
    </table>
                    <div class="btn">

                        <input class="Search" type="submit" value="查詢" />

                    </div>}
    </section>
    @*資料顯示*@
    <section class="StonkData">
        <div class="scroll">
            <table border="1">
                <tr>
                    <th>序號</th>
                    <th>交易時間</th>
                    <th>股票代號</th>
                    <th>股票名稱</th>
                    <th>交易種類</th>
                    <th>股數</th>
                    <th>單價</th>
                    <th>價金</th>
                    <th>手續費</th>
                    <th>交易稅</th>
                    <th>應收付款</th>
                    <th>功能</th>
                </tr>

                @foreach (var item in Model.Log_List)
                {
    <tr>
        <td>@Html.DisplayFor(s => item.id) </td>
        @{ DateTime dateTime = (DateTime)item.time;
            string str = dateTime.ToString("yyyy-MM-dd"); }
        <td>@Html.DisplayFor(s => str) </td>
        <td>@Html.DisplayFor(s => item.stonkID) </td>
        <td>@Html.DisplayFor(s => item.name) </td>
        <td>@Html.DisplayFor(s => item.type) </td>
        <td>@Html.DisplayFor(s => item.num) </td>
        <td>@Html.DisplayFor(s => item.price) </td>
        @{ var totalPrice = item.price * item.num; }
        <td>@Html.DisplayFor(s => totalPrice) </td>
        <td>@Html.DisplayFor(s => item.tax) </td>
        <td>@Html.DisplayFor(s => item.fax) </td>
        <td>
            @{ double AR = 0;
                if (item.type == "買")
                {
                    AR = (double)totalPrice * -1;
<span style="color:red">
    @Html.DisplayFor(s => AR)
</span>}
else
{
<span style="color:forestgreen">
    @Html.DisplayFor(s => totalPrice)
</span>} }
        </td>
        <td>

            <button type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("Edit")?id=@item.id'">編輯</button>
            <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Delete")?id=@item.id'">刪除</button>

        </td>
    </tr>}

            </table>
        </div>

    </section>
    @section Scripts {
        <script>
    $(function () {
        let Msg = "@TempData["Msg"]";
        if (Msg != null && Msg != "") {
            alert(Msg);
        }
    });
        </script>
    }
</main>